/* Global Style*/

body{
    font-family: Arial, sans-serif ;
    margin: 0;
    line-height: 1.5;
    color: #000;
    background-color: #ffffff;
    
}

a{
    color: #04c;
    text-decoration: underline;
}

a:focus,
button:focus {
    outline: 1px solid #425f80;
}

/*Header*/
header{
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 1rem;
   background-color: #8ae9b3;
   color: #0e0606;

}

/*
.nav-links{
    display: flex;
    list-style: none;
    gap: 1 rem;
}
*/
nav-links a{
    color: #fff;
    text-decoration: underline;
}

/*Focus Styles for accessibility*/
a:focus,
button:focus,
input:focus,
textarea  :focus{
    outline: 10px solid #fff
}

/*Hero section*/
.hero{
    text-align: center;
    padding: 3rem 1rem;
    background-color: #e6f0ff;
}
.hero button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

/*service-grid*/
.services-grid{
    
    grid-template-columns:repeat(3 1fr) ;
    gap: 1rem;
    padding: 1rem;
}

.services-grid article{
    border: 1px solid #37f3b4;
    padding: 1rem;
}

/*contact form*/
form{
    max-width: 500px;
    margin: auto;
}

.form_group{
    margin-bottom: 1rem;
}

label{
    display: block;
}

/*footer*/
footer{
    background-color: #2de79a;
    color: #3a1899;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 1024px){
    .services-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


.nav-links{
    flex-direction: column;
}

.services-grid{
    display: flex;
    gap: 1rem;
    grid-template-columns:(2 1fr);
    
}


@media (max-width: 600px){
    .services-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px){
    header{
        flex-direction: column;
    }
}
@media(max-width:600px){
    .articles{
        flex-direction: column;
    }

}